.play {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.note {
  position: absolute;
}

.label {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  position: relative;
  padding-top: 6px;
  z-index: 2;
}


