@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P';
  min-height: 100vh;
  background: url('./assets/BG.jpg') no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  text-transform: uppercase;
  color: #322642;
}

.note {
  position: relative;
  width: 334px;
  height: 585px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 23px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100%;
}

.noteImg {
  position: absolute;
}

h2, p {
  text-align: center;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 -1px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

.button {
  width: 296px;
  transition: 0.2s;
  &:hover {
    transform: scale(93%);
  }
}



