.expert {
  position: absolute;
  right: -100px;
  bottom: 150px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  max-width: 80px;
  opacity: 0;
  z-index: -999;
}

.phraseBox {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 220px;
  height: 70px;
  top: -70px;
  left: -190px;
  opacity: 0;
  animation-name: phrase;
  animation-delay: 1.4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  span {
    z-index: 1;
    font-size: 11.5px;
    text-align: center;
    line-height: 15.49px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.left {
  top: -70px;
  left: 40px;
}

.phrase {
  position: absolute;
}

.bubble, .cannot {
  position: absolute;
  top: -24%;
  left: -40px;
}

.bubble {
  animation-name: bubble;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes phrase {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.e1 {
  animation-delay: 1s;
  animation-name: e1;
  right: 5%;
  bottom: 20%;
}

@keyframes e1 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 5%;
    bottom: 15%;
  }
}

.e2 {
  animation-delay: 4s;
  animation-name: e2;
  right: 15%;
  bottom: 10%;
  .phraseBox {
    animation-delay: 4.4s;
  }
}

@keyframes e2 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 10%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 15%;
    bottom: 5%;
  }
}

.e3 {
  left: 10%;
  bottom: 15%;
  animation-delay: 7s;
  animation-name: e3;
  .phraseBox {
    animation-delay: 7.4s;
  }
}

@keyframes e3 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -10%;
    bottom: 10%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 10%;
    bottom: 6%;
  }
}

.e4 {
  left: 5%;
  bottom: 18%;
  animation-delay: 10s;
  animation-name: e4;
.phraseBox {
    animation-delay: 10.4s;
}
}

@keyframes e4 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -10%;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 5%;
    bottom: 18%;
  }
}

.e5 {
  animation-delay: 1s;
  animation-name: e5;
  right: 10%;
  bottom: 10%;
  animation-delay: 13.4s;
  .phraseBox {
    animation-delay: 13.4s;
  }
}

@keyframes e5 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 15%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 10%;
    bottom: 10%;
  }
}

.e6 {
  animation-delay: 1s;
  animation-name: e6;
  right: 30%;
  bottom: 3%;
  animation-delay: 16.4s;
  .phraseBox {
    animation-delay: 16.4s;
  }
}

@keyframes e6 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 10%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 30%;
    bottom: 3%;
  }
}

.e7 {
  left: 25%;
  bottom: 18%;
  animation-delay: 19s;
  animation-name: e7;
.phraseBox {
    animation-delay: 19.4s;
}
}

@keyframes e7 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -5%;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 25%;
    bottom: 18%;
  }
}

.e8 {
  animation-delay: 1s;
  animation-name: e8;
  right: 25%;
  bottom: 15%;
  animation-delay: 21.4s;
  .phraseBox {
    animation-delay: 21.4s;
  }
}

@keyframes e8 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 25%;
    bottom: 15%;
  }
}

.e9 {
  left: 30%;
  bottom: 3%;
  animation-delay: 23s;
  animation-name: e9;
  .phraseBox {
    animation-delay: 23.4s;
  }
}

@keyframes e9 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -5%;
    bottom: 10%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 30%;
    bottom: 3%;
  }
}

.e10 {
  left: 10%;
  bottom: 20%;
  animation-delay: 26s;
  animation-name: e10;
  .phraseBox {
    animation-delay: 26.4s;
  }
}

@keyframes e10 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -5%;
    bottom: 30%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 10%;
    bottom: 20%;
  }
}

.e11 {
  left: 30%;
  bottom: 20%;
  animation-delay: 29s;
  animation-name: e11;
  .phraseBox {
    animation-delay: 29.4s;
  }
}

@keyframes e11 {
  0% {
    opacity: 1;
    z-index: 999;
    left: -5%;
    bottom: 30%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    left: 30%;
    bottom: 20%;
  }
}

.e12 {
  animation-delay: 1s;
  animation-name: e12;
  right: 30%;
  bottom: 5%;
  animation-delay: 31.4s;
  .phraseBox {
    animation-delay: 31.4s;
  }
}

@keyframes e12 {
  0% {
    opacity: 1;
    z-index: 999;
    right: -10%;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    z-index: 999;
    right: 30%;
    bottom: 5%;
  }
}

.none {
  display: none;
}

.active {
  animation-name: active;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0s; 
  opacity: 1;
  z-index: 999;
}

@keyframes active {
  0% {
  }
  50% {
    bottom: 120%;
  }
  100% {
    bottom: 120%;
    display: none;
  }
}

.mistake {
  animation-name: mistake;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 1;
  z-index: 999;
}

@keyframes mistake {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}